@font-face {
    font-family: Druk;
    src: url('fonts/Druk Bold.woff') format('woff');
}

.spacemono {
    font-family: 'Space Mono', monospace;
}

.spacemonotext {
    font-family: 'Space Mono', monospace;
    font-size: 10px;
}

#source{
    font-size: 8px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    width: 75%;
    height: 100%;
    position: absolute;
    transform: translateX(150%);
    background: red;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-column-gap: 20px;
}

#container {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column-gap: 40px;
}

#nav {
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    margin: 20px;
}

    margin: 20px;
}

#gif {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#gifURL {
    font-family: Space Mono;
    font-size: 5vw;
    color: ghostwhite;
}

#aboutbutton {
    /* display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 0.1px;
    cursor: pointer; */
}


/* #pause {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 0.1px;
} */

#description {
    display: flex;
}

#timercontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1, 1.1);
    
    padding-top:30px;
}

#timer {
    font-family: Druk;
    font-size: 125vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    text-align: left;
    transform: translateX(30%);
}